<br>
<div class="container">
  <%= form_for @message do |f|%>
    <%= hidden_field_tag "sender_id", current_user.id %>
    <% if @message.errors.size > 0 %>
      <div class="alert alert-danger">
        <%= @message.errors.full_messages.to_sentence %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :Recipient %>
      <% default = @friends.select{ |f| f.id.to_s == params[:friend_id]}[0] %>
      <% unless default.nil? %>
        <% default_selection_id = default.id %>
      <% else %>
        <% default_selection_id = "" %>
      <% end %>
      <%= f.select(:recipient_id, options_from_collection_for_select(@friends, "id", "name", :selected => default_selection_id ), {}, { class: "form-control"})%>

    </div>

    <div class="form-group">
      <%= f.label :subject %>
      <%= f.text_field :subject , class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body , class: "form-control", rows: "5"%>
    </div>



    <%= f.submit "Sent", class: "btn btn-secondary" %>
  <% end %>
</div>
