<% if !@message.present? %>
  <div class="alert alert-error">
    No messages!
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <td class="thead_td">Sender</td>
        <td class="thead_td">Subject</td>
        <% if @message.photo.present? %>
        <td class="thead_td">Photo</td>
        <% end %>
        <td class="thead_td">Content</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @message.sender %></td>
        <td><%= @message.subject %></td>
        <% if @message.photo.present? %>
        <td><%= image_tag @message.photo.url(:medium) %></td>
        <% end %>
        <td><i><%= @message.body %></i></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="reply_button">
    <%= link_to "Reply", new_messages_path(friend_id: @message.sender_id), class: "btn btn-info btn-xs glyphicon glyphicon-ok" %>
  </div>