<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <%= stylesheet_link_tag "css_messages.css" %>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '120570751873685',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.8'
        });
        FB.AppEvents.logPageView();   
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript">
          function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
      }
      function statusChangeCallback(response){
        console.log(response);
        //window.location = 'http://localhost:3000/';
      };
    </script>
    <%= render 'layouts/navbar' %>

    <div class="container">
      <br>
      <%= flash_messages %>
      <div class="container bootstrap snippet">
          <br>
          <div class="jumbotron list-content">
            <%= yield %>
          </div>
      </div>
    </div>
  </body>
</html>
