<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <% if current_user %>
      <div class="container">
        <div class="btn-group" role="group" aria-label="...">
          <%= link_to "Inbox", messages_path, class: (false ? "btn btn-outline-success" : "btn btn-success") %>
          <%= link_to "Sent", sent_messages_path, class: "btn btn-outline-success" %>
          <%= link_to "Add Friends", messages_path, class: "btn btn-outline-success" %>
          <%= link_to "New Message", messages_path, class: "btn btn-outline-success" %>
          <%=  %>
        </div>
      </div>
    <% end %>

    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
